.app {
  --page-gutter: 16px;
  --icon-size: 16px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.header,
.header-topbar,
.main,
.footer {
  /* box-sizing: border-box; */
  position: relative;
  /* width: 100%; */
}

.page {
  height: 100%;
}

a {
  cursor: pointer;
}

.header-topbar,
.footer {
  background-color: var(--green);
  box-sizing: border-box;
  color: var(--white);
  font-size: 14px;
  font-weight: 300;
  padding: var(--page-gutter);
}
.header-topbar {
  border-bottom: 1px solid var(--light-green);
}

.footer {
  border-top: 1px solid var(--light-green);
  text-align: center;
}

body {
  font-family: 'Noto Sans', serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-weight: 400; /* Use a value from 100 to 900 */
}

svg {
  color: var(--white);
  height: var(--icon-size);
  overflow: visible;
  width: var(--icon-size);
}
svg:focus {
  outline: none;
}
