:root {
  --logo-width: 280px;
}

.logo {
  display: grid;
  width: var(--logo-width);
}
@media screen and (width < 500px) {
  :root {
    --logo-width: 180px;
  }
}

.logo-overlay {
  opacity: 0;
  transition: opacity 0.3s;
}
.header-nav-link:hover .logo-overlay {
  opacity: 0.4;
}

.logo-overlay {
  /* height: 86.5px;
  left: 1.5px;
  position: absolute;
  top: 3px; */
  display: none;
}

.header-nav-links {
  align-items: stretch;
  color: #555555;
  display: flex;
  flex-wrap: nowrap;
  font-family: 'noto-sans';
  font-size: 15px;
  font-weight: 400;
  justify-content: flex-end;
  text-transform: uppercase;
  white-space: nowrap;
}
.header-nav-links a,
.header-nav-links .services-popper {
  align-items: center;
  cursor: pointer;
  display: inherit;
  justify-content: center;
  position: relative;
}
.header-nav-links a:is(:hover, :focus, :active) {
  color: var(--light-green);
}
.services-popper a:not(:last-of-type) {
  border-bottom: 1px solid #eeeeee;
}
.services-popper a {
  color: #555555;
  cursor: pointer;
  font-family: 'noto-serif';
  font-size: 14px;
  text-transform: none;
  transition: all 333ms ease;
}
.services-popper a:is(:hover, :focus, :active) {
  background-color: #f8f8f8;
  color: #555555;
}
.services-popper-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  white-space: nowrap;
}
.header-nav-menu {
  display: none;
}
@media screen and (width < 1096px) {
  .header-nav-links {
    display: none;
  }
  .header-nav-menu {
    display: flex;
  }
}

.services-icon.icon-arrow-down {
  font-size: 10px;
  font-weight: bold;
  padding-left: 8px;
}

#services-menu {
  background-color: var(--white);
  border-top: 3px solid var(--light-green);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition:
    opacity 0.3s ease,
    z-index 0.3s ease;
}
#services-menu a {
  padding: 12px var(--page-gutter);
}

.header-nav-menu {
  color: #555555;
  font-size: 15px;
  /* grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr; */
  justify-content: flex-end;
  text-transform: uppercase;
}
.header-nav-menu > .menu-button {
  /* align-self: center;
  grid-column: 2 / 3; */
}

.menu-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-shrink: 1;
  flex-wrap: nowrap;
  gap: 6px;
  white-space: nowrap;
}

.menu-button:is(:hover, :focus, :active) {
  color: var(--light-green);
}
