:root {
  --page-width: 92%;
  --min-page-width: 320px;
  --max-page-width: calc(1200px + var(--gap) + var(--gap));
  --gap: 11px;
  --icon-size: 16px;
  --line-height: 19px;
  --theme-toggle-width: calc(var(--line-height) + var(--gap) + var(--gap));
}

@media screen and (width < 350px) {
  :root {
    --gap: 8px;
  }
}

html {
  overflow: hidden;
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
}

html,
body,
.theme {
  display: grid;
  margin: 0;
  min-height: 100vh;
  min-width: var(--min-page-width);
  padding: 0;
  position: relative;
}

#theme-toggle {
  display: none;
  margin: 0;
  padding: 0;
}

.theme,
#light-mode-toggle,
#dark-mode-toggle {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.theme {
  transition-property: background-color, color;
}
#light-mode-toggle,
#dark-mode-toggle {
  transition-property: opacity;
}

#light-mode-toggle {
  opacity: 1;
}
:is(html[data-theme='dark'], #theme-toggle:checked ~ .theme)
  #light-mode-toggle {
  opacity: 0;
}

#dark-mode-toggle {
  opacity: 0;
}
:is(html[data-theme='dark'], #theme-toggle:checked ~ .theme) #dark-mode-toggle {
  opacity: 1;
}

:root {
  --original-green: #019934;
  --original-light-green: #84c340;
  --green: #016520;
  --light-green: #84c340;
  --white: #ffffff;
}

.theme {
  --theme-color: #ffffff;
  --text-color: #333333;
  --filter: none;
}
html[data-theme='dark'],
#theme-toggle:checked ~ .theme {
  /* --theme-color: #1c211a;
  --text-color: #ffffff;
  --green: #025a1f;
  --light-green: #019934;
  --filter: brightness(0.6); */
}

.theme {
  background-color: var(--theme-color);
  color: var(--text-color);
}
