:root {
  --original-green: #019934;
  --green: #016520;
  --light-green: #84c340;
  --white: #ffffff;
  --divider-color: #f1f1f1;

  --filter: brightness(0.6);
  --duration: 0.3s;
  --transition-color: background-color var(--duration) ease,
    color var(--duration) ease;
  --transition-filter: filter var(--duration) ease-in;
  --transition-opacity: opacity var(--duration) ease-in;
  --page-column-width: unset;
  --page-column-wrap: wrap;

  --page-width: 92%;
  --min-page-width: 320px;
  --max-page-width: calc(1200px + var(--gap) + var(--gap));

  --gap: 11px;
  --line-gap: 20px;
  --section-gap: 30px;
  --page-gap: calc(var(--line-gap) + var(--section-gap));

  --line-height: 19px;
  --header-height: 126px;
  --title-height: 50px;
  --theme-toggle-width: calc(var(--line-height) + var(--gap) + var(--gap));

  --line-margin: 0px 0px var(--line-gap) 0px;
  --title-padding: 10px;

  --icon-size: 16px;
  --logo-size: 88px;

  --divider: 1px solid var(--divider-color);
  --column-divider: none;
  --column-gap: 0;
}

.theme {
  --theme-color: #ffffff;
  --text-color: #333333;
}
html[data-theme='dark'],
#theme-toggle:checked ~ .theme {
  /* --theme-color: #1c211a;
  --text-color: #ffffff;
  --green: #025a1f;
  --light-green: #019934;
  --filter: brightness(0.6); */
}
.theme {
  background-color: var(--theme-color);
  color: var(--text-color);
}

@media screen and (width < 350px) {
  :root {
    --gap: 8px;
  }
}
@media screen and (width < 500px) {
  :root {
    --scale: 0.67;
    --header-height: calc(126px * var(--scale));
    --logo-size: calc(88px * var(--scale));
    --title-height: calc(50px * var(--scale));
    --title-padding: 0;

    --line-gap: 15px;
    --section-gap: 15px;
  }
}
@media screen and (width >= 900px) {
  :root {
    --page-column-width: 72%;
    --page-column-wrap: nowrap;
    --column-divider: var(--divider);
    --column-gap: var(--section-gap);
  }
}

html {
  /* background-color: var(--original-green); */
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
}
html,
body,
.theme {
  display: grid;
  margin: 0;
  min-height: 100vh;
  min-width: var(--min-page-width);
  padding: 0;
  position: relative;
}

#theme-toggle {
  display: none;
  margin: 0;
  padding: 0;
}

.theme {
  transition: var(--transition-color);
}
#light-mode-toggle,
#dark-mode-toggle {
  transition: var(--transition-opacity);
}

#light-mode-toggle {
  opacity: 1;
}
:is(html[data-theme='dark'], #theme-toggle:checked ~ .theme)
  #light-mode-toggle {
  opacity: 0;
}

#dark-mode-toggle {
  opacity: 0;
}
:is(html[data-theme='dark'], #theme-toggle:checked ~ .theme) #dark-mode-toggle {
  opacity: 1;
}
